{#
# @license 3-clause BSD
# @link https://github.com/CaseStore/CaseStore-Core
#}

<div class="well">
    <form onsubmit="goToPostcode(); return false;">
        Postcode: <input type="text" id="PostCode">
        <input type="submit" value="Go to">
        <div id="PostCodeSearchLoading" style="display: none;">Loading</div>
        <div id="PostCodeSearchMessage" style="display: none;"></div>
    </form>
</div>

