{#
# @license 3-clause BSD
# @link https://github.com/CaseStore/CaseStore-Core
#}

<form onsubmit="goToPostcode(); return false;">
    Postcode: <input type="text" id="PostCode">
    <input type="submit" value="Go to">
</form>

