{#
# @license 3-clause BSD
# @link https://github.com/CaseStore/CaseStore-Core
#}

{% extends 'CaseStoreBundle::base.html.twig' %}

{% block title %}Change Password{% endblock %}

{% block main %}



    <form action="#" method="post">
        {{ form_errors(form) }}

        {{ form_rest(form) }}

        <input type="submit" value="Change" />

    </form>

{%  endblock %}
