{#
# @license 3-clause BSD
# @link https://github.com/CaseStore/CaseStore-Core
#}

{% extends 'CaseStoreBundle::base.html.twig' %}


{% block title %}Map{% endblock %}


{% block main %}


    <ol class="breadcrumb">
        <li><a href="{{ path('case_store_project', { 'projectId':project.publicId }) }}">Project {{  project.title }}</a></li>
        <li class="active">Map</li>
    </ol>


    <div id="Map" style="width: 100%; height: 400px;"></div>


    {% include  'CaseStoreBundle:Common:mapSearchBar.html.twig' %}


{%  endblock %}


{% block javascript %}
    {% javascripts '@CaseStoreBundle/Resources/public/js/mapLibraries.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>

        $( document ).ready(function() {

            $.ajax({url: '{{ path('case_store_project_map_data_json', { 'projectId':project.publicId }) }}'})
                .done(function(data) {

                    startMap('Map');

                    for (idx in data.data) {
                        L.marker([ data.data[idx].lat, data.data[idx].lng]).addTo(mapObject).bindPopup('<a href="'+data.data[idx].url+'">'+ $('<div/>').text(data.data[idx].title).html() +'</a>');
                    }
                });

        });
    </script>
{% endblock %}


